* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.container{
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 715px;
  display: flex;
  align-items: center;
  justify-content: center
}
.form{
  display: flex;
  background-color: rgba(255, 255, 255, 0.44);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid black;
  width: 35%;
  height: 50%;
}
.form h1{
  font-size: 50px;
}
.form input{
  padding-left: 10px;
  padding: 10px;
}
.submit{
  width: 120px;
  height: 40px;
  background-color: red;
  color: white;
}
.submit:hover{
  background-color: black;
}